-extends "base.haml"

-load bootstrap3

-load static
-load compress

-block head
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
  -compress js
    %script{type: "text/javascript", src: "{% static 'js/professor_edit_learning_track.js' %}"}

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        Classe
        =lesson.name
    %li.active
      Editeur de chemin d'apprentissage

-block content
  %h3
    Chemin d'apprentissage:
    %br
    {{ student }}
  %hr

  %body
    %div{ng-app: "oscar", ng-controller: "learningPathController"}
      .col-md-11
      .ligneorange

      .container-fluid.boxclassetitle

        .pull-right
          -if length == index
            %button.btn.btn-primary{ng-click: "nextStudent({{ index }})"}
              Terminer
          -else
            %button.btn.btn-primary{ng-click: "nextStudent({{ index }})"}
              Elève suivant
          -#%a.btn.btn-primary{href: "{% url 'professor:lesson_skill_learning_track' lesson.pk list_students index %}"}
            -if length == index
              Terminer
            -else
              Elève suivant

      .ligneorangefine

      .container-fluid.boxclasse
        %div
          %table{class: "table table-bordered pagin-table"}
            %tbody
              -for lt in student.get_learning_track
                %tr
                  %td
                    {{ lt.student_skill.skill.code }} - {{ lt.student_skill.skill.name }}

        %div#alerts
    -block javascript
    :javascript
      $('tbody').sortable();
