-extends "base.haml"

-load bootstrap3

-load static
-load compress

-block head
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
  -compress js
    %script{type: "text/javascript", src: "{% static 'js/professor_edit_learning_track.js' %}"}

  :javascript
    context = {
      studentPk: {{ student.pk }}
    };

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        Classe
        =lesson.name
    %li.active
      Editeur de chemin d'apprentissage

-block content
  %h3
    Chemin d'apprentissage de
    %br
    {{ student }}
  %hr

  %body
    %div{ng-app: "oscar", ng-controller: "learningPathController"}
      .col-md-11
      .ligneorange

      .container-fluid.boxclassetitle

        .pull-right
          -if length == index
            %button.btn.btn-primary{ng-click: "nextStudent({{ index }})", id: "finish"}
              Terminer
          -else
            %button.btn.btn-primary{ng-click: "nextStudent({{ index }})"}
              Elève suivant
          -#%a.btn.btn-primary{href: "{% url 'professor:lesson_skill_learning_track' lesson.pk list_students index %}"}
            -if length == index
              Terminer
            -else
              Elève suivant

      .ligneorangefine

      .container-fluid.boxclasse
        %p
          Vous pouvez modifier cette liste en déplaçant une compétence cible.
        %div
          %table{class: "table table-bordered paging-table", style:"cursor: pointer"}
            %tbody
              -for lt in student.get_learning_track
                %tr
                  %td{onMouseOver:"this.style.background=&#39#C0C0C0&#39", onMouseOut:"this.style.background=&#39white&#39"}
                    %div{class:"row"}
                      %div{class:"col-md-1"}
                        <i class="fa fa-bars" aria-hidden="true" style="color:#f5801b"></i>
                      %div{class:"col-md-10"}
                        {{ lt.student_skill.skill.code }} - {{ lt.student_skill.skill.name }}

                      -if lt.student_skill.is_target
                        %div{class:"col-md-1"}
                          <span class="pull-right"  style="color:#f5801b"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span></div>


        %div#alerts
    -block javascript
    :javascript
      $('tbody').sortable();
