-extends "base.haml"

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        Classe
        =lesson.name
    %li.active
      Editeur de chemin d'apprentissage

-block content
  %h3
    Chemin d'apprentissage:
    %br
    {{ student }}
  %hr

  %body
    .col-md-11
    .ligneorange

    .container-fluid.boxclassetitle

      .pull-right
        %a.btn.btn-primary{href: "{% url 'professor:lesson_skill_learning_track' lesson.pk list_students index %}"}
          -if length == index
            Terminer
          -else
            Elève suivant

    .ligneorangefine

    .container-fluid.boxclasse
      %div
        %form.form
          .row
            .col-md-6
              %tr
                %td
                  -for lt in student.get_learning_track
                    {{ lt.student_skill.skill.code }}
