-extends "base.haml"

-load bootstrap3

-load static

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_list_student_target' lesson.pk %}"} Liste des compétences cibles des étudiants
    %li.active
      Selection des compétences cibles

-block content
  %h3
    =lesson.name
  %hr
