-extends "base.haml"

-load bootstrap3

-load static
-load compress

-block head
  -compress js
    %script{type: "text/javascript", src: "{% static 'js/professor_select_skill.js' %}"}

  :javascript
    context = {
      lessonId: {{ lesson.id }}
    };

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        Classe
        =lesson.name
    %li.active
      Compétences cibles

-block content
  %h3
    =lesson.name
  %hr

    -#.col-md-5
      %a{type: "button", class: "btn btn-default btn-circle btn-xl", href: "{% url 'professor:launch-method' %}" }
        %img{src: "http://i68.tinypic.com/332szu9.png", class: "buttonimg"}
        .buttontxt
          Lancer
          %br
          une méthode

  %ul.menu-tabs.nav.orange.nav-tabs
    %li{role: "presentation"}
      %a.real-link{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        Mes élèves
    %li{role: "presentation"}
      %a.real-link{href: "{% url 'professor:lesson_test_list' lesson.pk %}"}
        Mes Tests
    %li{role: "presentation"}
      %a.real-link{href: "{% url 'professor:lesson_detail' lesson.pk %}#heatmap"}
        Vue globale de la classe
    %li.active{role: "presentation"}
      %a.real-link{href: "{% url 'professor:lesson_list_student_target' lesson.pk %}"}
        Compétences cibles

  %body
    .col-md-7
    .ligneorange

    .container-fluid.boxclassetitle
      .pull-right
        %a#legend.btn.btn-sm.btn-info{type: "button", data-toggle: "popover", title: "Légende", data-placement: "left"}
          Légende
        %div{style: "display: none"}
          %table.table
            %tr
              %td
                %a.btn.btn-default.skill.mastered_100{type: "button"}
                  %abbr{title: "", style: "cursor: default; border: none"} Maitrisée
            %tr
              %td
                %a.btn.btn-default.skill.mastered_75{type: "button"}
                  %abbr{title: "", style: "cursor: default; border: none"} Testée
            %tr
              %td
                %a.btn.btn-default.skill.mastered_25{type: "button"}
                  %abbr{title: "", style: "cursor: default; border: none"} Non testée
            %tr
              %td
                %a.btn.btn-default.skill.mastered_not_enough{type: "button"}
                  %abbr{title: "", style: "cursor: default; border: none"} ?

    .ligneorangefine
    .container-fluid.boxclasse
      %div{ng-app: "oscar", ng-controller: "selectSkillController"}
        .panel.panel-default
          %table.table
            %tr
              %input{:type => "checkbox", :name => "studAll", :ng-model => "studAll"}
                Selectionner tous les étudiants
            -for student in lesson.students.all
              %tr
                %td{width: "150px"}
                  %input{:type => "checkbox", :name => "checkBox", :ng-checked => "studAll || selectedStudent.indexOf({{ student.pk }}) > -1", :ng-click => "toggleSelection({{ student.pk }})"}
                  %a{href: "{% url 'professor:lesson_student_detail' lesson.pk student.pk %}"}= student
                  -for student_skill in student.get_targeted_skills
                    -if student_skill.acquired
                      %td{width: "150px", align:"center"}
                        %a.btn.btn-default.skill.mastered_100{type: "button", href: "{% url 'professor:lesson_skill_detail' lesson.pk student_skill.skill.code %}", :style => "width: 100%"}
                          %abbr{title: "", style: "cursor: default; border: none"} {{student_skill.skill.code}}
                    -elif student_skill.tested
                      %td{width: "150px", align:"center"}
                        %a.btn.btn-default.skill.mastered_75{type: "button", href: "{% url 'professor:lesson_skill_detail' lesson.pk student_skill.skill.code %}", :style => "width: 100%"}
                          %abbr{title: "", style: "cursor: default; border: none"} {{student_skill.skill.code}}
                    -else
                      %td{width: "150px", align:"center"}
                        %a.btn.btn-default.skill.mastered_25{type: "button", href: "{% url 'professor:lesson_skill_detail' lesson.pk student_skill.skill.code %}", :style => "width: 100%"}
                          %abbr{title: "", style: "cursor: default; border: none"} {{student_skill.skill.code}}


                  -if student.get_targeted_skills.count < 1
                    %td{width: "150px", align:"center"}
                      ?
                  -if student.get_targeted_skills.count < 2
                    %td{width: "150px", align:"center"}
                      ?
                  -if student.get_targeted_skills.count < 3
                    %td{width: "150px", align:"center"}
                      ?

        .panel.panel-default
          .panel-heading
            Sélectionner les compétences cibles

          .panel-body
            %form.form
              .row
                .col-md-5
                  %p
                    %b
                      Compétences sélectionnées :

                  .well
                    %span{ng-repeat: "skill in toTargetSkills"}
                      %div
                      %button.btn.btn-primary.selected-skill{type: "button", title: "{& skill.name &}", ng-click: "removeSkill(skill)", :style => "width: 100%"}
                        {& skill &}

                .col-md-6
                  %h
                  -for stage in lesson.stages_in_unchronological_order
                    -if forloop.counter == 3
                      <div class="panel panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Compétences antérieures</a>
                            </h4>
                          </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">

                    .form-group
                      %label.control-label= stage.name
                      .form-group
                        %select.form-control{ng-model: "stage{{ stage.id }}SelectedSkill"}
                          -regroup stage.skills_by_id by section as sections
                          -for section in sections
                            %optgroup{label: "{{ section.grouper }}"}
                              -for skill in section.list reversed
                                %option{value: "{{ skill.code }}", id: "{{ skill.code }}"}
                                  {{ skill.code }} - {{ skill.name }}

                    .form-group
                      %button.btn.btn-primary{ng-click: "addSkillToTargets({{ stage.id }})", id: "addSkillToTestButtonForStage{{ stage.id }}"}
                        Ajouter cette compétence

                    -if forloop.last and forloop.counter >= 3
                      </div>
                      </div>
            %div#alerts
            %button.btn.btn-primary{ng-click: "setTemporaryTargets({{ lesson.pk }})", id: "setTargetButton", ng-disabled: "selectedStudent.length==0"}
              Valider les compétences cibles

    -block javascript
    :javascript
      $(function () {
        $('[data-toggle="popover"]').popover({
          html: true
        })

        $('#legend').each(function(index, node) {
          node.setAttribute("data-content", node.nextSibling.nextSibling.innerHTML);
        })

        if (document.location.hash) {
            hash = document.location.hash;
            document.location.hash = '';
            console.log(hash);
            $('.nav-tabs a[href="' + hash + '"]').tab('show');
        }
      })

