-extends "base.haml"

-load bootstrap3

-load static

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li.active
      Choisir les targets des étudiants

-block content
  .row

    .col-md-5
      %a{type: "button", class: "btn btn-default btn-circle btn-xl", href: "{% url 'professor:launch-method' %}" }
        %img{src: "http://i68.tinypic.com/332szu9.png", class: "buttonimg"}
        .buttontxt
          Lancer
          %br
          une méthode

    %h3 Choisir les targets des étudiants
    %hr

    %body
      .col-md-7



      .ligneorange

      .container-fluid.boxclassetitle

      .ligneorangefine

      .container-fluid.boxclasse
        .panel.panel-default
          %table.table
            -for lesson in lessons
              -for student in lesson.students.all
                %tr
                  %td{width: "250px"}
                    %a{href: "{% url 'professor:lesson_student_detail' lesson.pk student.pk %}"}= student




    :css

