-extends "base.haml"

-load bootstrap3

-load static

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li.active
      Choisir les targets des étudiants

-block content
  %h3
    =lesson.name
  %hr

    -#.col-md-5
      %a{type: "button", class: "btn btn-default btn-circle btn-xl", href: "{% url 'professor:launch-method' %}" }
        %img{src: "http://i68.tinypic.com/332szu9.png", class: "buttonimg"}
        .buttontxt
          Lancer
          %br
          une méthode

  %ul.menu-tabs.nav.orange.nav-tabs
    %li{role: "presentation"}
      %a.real-link{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
        Mes élèves
    %li{role: "presentation"}
      %a.real-link{href: "{% url 'professor:lesson_test_list' lesson.pk %}"}
        Mes Tests
    %li{role: "presentation"}
      %a.real-link{href: "{% url 'professor:lesson_detail' lesson.pk %}#heatmap"}
        Vue globale de la classe
    %li.active{role: "presentation"}
      %a.real-link{href: "{% url 'professor:set-targets' lesson.pk %}"}
        Compétences cibles

  %body
    .col-md-7



    .ligneorange

    .container-fluid.boxclassetitle

    .ligneorangefine

    .container-fluid.boxclasse
      .panel.panel-default
        %table.table
          -for student in lesson.students.all
            %tr
              %td{width: "250px"}
                %a{href: "{% url 'professor:lesson_student_detail' lesson.pk student.pk %}"}= student
                  .pull-right
                  %a{href: "{% url 'professor:lesson_student_update' lesson.pk student.pk %}"}
                    %img.icon{src: "{% static 'img/icons/modify.png' %}", data-toggle: "tooltip", data-placement: "top", title: "Modifier les targets"}





    -block javascript
    :javascript
      $(function () {
        $('[data-toggle="popover"]').popover({
          html: true
        })

        $('#legend').each(function(index, node) {
          node.setAttribute("data-content", node.nextSibling.nextSibling.innerHTML);
        })

        if (document.location.hash) {
            hash = document.location.hash;
            document.location.hash = '';
            console.log(hash);
            $('.nav-tabs a[href="' + hash + '"]').tab('show');
        }
      })

