-extends "base.haml"
-load static

-load bootstrap3

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"} Classe {{ lesson.name }}
    %li
      %a{href: "{% url 'stats:viewstats' lesson.pk %}"} Statistiques
    %li.active
      Mes Elèves


-block content

  .container-fluid.boxclassetitle

    %h2 Etudiants de la classe {{ lesson.name }}

    -for student in students
      %p
        %a{href: "{% url 'stats:stat_student' lesson.pk student.pk %}"} {{ student }}