-extends "base.haml"

-load bootstrap3
-load static

-block head
  %link{href: "{% static 'css/bartchart.css' %}", rel: "stylesheet"}
  %link{href: "{% static 'css/piechart.css' %}", rel: "stylesheet"}
  %link{href: "{% static 'css/sidebar.css' %}", rel: "stylesheet"}
  %script{:src => "https://d3js.org/d3.v4.min.js"}
  %script(src="/static/js/barchart.js")
  %script(src="/static/js/linechart.js")
  %script(src="/static/js/piechart.js")

-block javascript
  %script(src="/static/js/updateUI.js")

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{} Oscar
    %li.active
      Statistiques

-block content
  %div{:id => "wrapper"}
    / Sidebar for customization
      / Actual content of the page
    %div{:id => "page-content-wrapper"}
      .container-fluid.boxclassetitle
        .col-md-12
         
          %form{method: "POST", action: "{% url 'stats:superuserCSV' %}"}
            %label.checkbox
              %input{:type => "checkbox", :value => "loginStats", :name => "loginStats"}>/
              %font{:size => "4"} Login Stats
              .ligneorange
              .container-fluid.boxclassetitle
                .pull-left
                %p Sélectionnez les types d'utilisateurs
                  %br

                  %label.checkbox-inline
                    %input{:type => "checkbox", :name => "student", :value => "student"}>/
                    Étudiant·e
                  %label.checkbox-inline
                    %input{:type => "checkbox", :name => "professor", :value => "professor"}>/
                    Professeur
                  %label.checkbox-inline
                    %input{:type => "checkbox", :name => "admin", :value => "admin"}>/
                    Admin
                
                %p Période date d'accès
                %select{:value => "preDefDateLS", :name => "preDefDateLS"}
                  -for option, val in predefined_timespan.items
                    -if val == None
                      %option{:value => val, :selected} {{option}}
                    -else
                      %option{:value => val} {{option}}


                %br
                %br
                %div{:id => "timespan"}
                  
                  %label.checkbox-inline
                    Depuis :
                    %input#startDateLS{:type => "date", :name => "startDateLS"}/
                  %label.checkbox-inline
                    Jusque :
                    %input#endDateLS{:type => "date", :name => "endDateLS"}/



            %label.checkbox
              %input{:type => "checkbox", :value => "resStudent", :name => "resStudent"}>/
              %font{:size => "4"} Resource Student
              .ligneorange
              .container-fluid.boxclassetitle
                .pull-left

                %p Période date d'accès
                %select{:value => "preDefDateRS", :name => "preDefDateRS"}
                  -for option, val in predefined_timespan.items
                    -if val == None
                      %option{:value => val, :selected} {{option}}
                    -else
                      %option{:value => val} {{option}}

                %div{:id => "timespan"}
                  %label.checkbox-inline
                    Depuis :
                    %input#startDateRS{:type => "date", :name => "startDateRS"}/
                  %label.checkbox-inline
                    Jusque :
                    %input#endDateRS{:type => "date", :name => "endDateRS"}/


            %label.checkbox
              %input{:type => "checkbox", :value => "authStudent", :name => "authStudent"}>/
              %font{:size => "4"} Authentication Student
              .ligneorange
              .container-fluid.boxclassetitle
                .pull-left 
                %p Période date d'accès
                %select{:value => "preDefDateAS", :name => "preDefDateAS"}
                  -for option, val in predefined_timespan.items
                    -if val == None
                      %option{:value => val, :selected} {{option}}
                    -else
                      %option{:value => val} {{option}}

                %div{:id => "timespan"}
                  %label.checkbox-inline
                    Depuis :
                    %input#startDateAS{:type => "date", :name => "startDateAS"}/
                  %label.checkbox-inline
                    Jusque :
                    %input#endDateAS{:type => "date", :name => "endDateAS"}/

            %label.checkbox
              %input{:type => "checkbox", :value => "examStudent", :name => "examStudent"}>/
              %font{:size => "4"} Exam Student
              .ligneorange
            %br
            %label.checkbox
              %input{:type => "checkbox", :value => "examStudentSkill", :name => "examStudentSkill"}>/
              %font{:size => "4"} Exam Student Skill

            .ligneorange
            %br
            %br
                -csrf_token
                %input{:checked => "checked", :name => "csv_type", :type => "radio", :value => "std"}/
                Standard

                %input{:name => "csv_type", :type => "radio", :value => "euro"}/
                Européen
                %br
                %br
            
            %button.btn.btn-lg.btn-primary{type: "submit", name: "csv_export_button"}
              Exporter en CSV
          