-extends "base.haml"

-load bootstrap3

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"} Classe {{ lesson.name }}
    %li.active
      Statistiques


-block content
  .row
    .col-md-4
      %br/
      %br/
      %font{:color => "white", :size => "4"} Periode
      %form{:action => "#"}
        %select{:name => "---"}
          %option{:value => "1q2017-18"} 1q Année 2017/2018
          %option{:value => "2q2017-18"} 2q Année 2017/2018
          %option{:value => "1q2016-17"} 1q Année 2016/2017
          %option{:value => "2q2016-17"} 2q Année 2016/2017
        %font{:color => "white"} Start Date:
        %input{:name => "startDate", :type => "text", :value => "jj/mm/aa"}/
        %br/
        %font{:color => "white"} End Date:
        %input{:name => "endDate", :type => "text", :value => "jj/mm/aa"}/
        %br/
        %br/
        %input{:type => "submit", :value => "Submit"}/

      .container
      %br/
      %br/
      %font{:color => "white", :size => "4"} Paramètres
      %form
        .checkbox
          %label
            %input{:type => "checkbox", :value => ""}>/
            %font{:color => "white"} Niveau de connaissance
        .checkbox
          %label
            %input{:type => "checkbox", :value => ""}>/
            %font{:color => "white"} Progrès
        .checkbox
          %label
            %input{:type => "checkbox", :value => ""}>/
            %font{:color => "white"} Compétences acquises
        .checkbox
          %label
            %input{:type => "checkbox", :value => ""}>/
            %font{:color => "white"} Objectifs acuis
      %br/
      %br/
      %button{:onclick => "#", :type => "button"} Données numériques
      %br/
      %br/
      %button{:onclick => "#", :type => "button"} Exporter en CVS

    .col-md-7
      %ul.nav.orange.nav-tabs
        %li.active{role: "presentation"}
          %a{href: "#"}
            Ma classe
        %li{role: "presentation"}
          %a{href: "{% url 'stats:view_student' lesson.pk %}"}
            Mes étudiants

      .ligneorange

      .container-fluid.boxclassetitle

        .pull-left Statistique de ma classe {{ lesson.name }}

      .ligneorangefine

      .container-fluid.boxclasse


        %p
          Nombre d'étudiants
          %b
            {{ student_number }}

        %p
          Nombre moyen de compétences acquises
          %b
            {{ avg_skill_acquired }}

        %p
          Compétence la moins maitrisée
          %b
            {{ least_mastered_skill }}

        %p
          Compétence la plus maitrisée
          %b
            {{ most_mastered_skill }}

-block content-barchart
    !!!
    %html
      %head
        %meta{:charset => "utf-8"}/
        :css
          .bar rect {
            fill: steelblue;
          }

          .bar text {
            fill: #fff;
            font: 10px sans-serif;
          }
        %svg{:height => "500", :width => "480"}
        %script{:src => "https://d3js.org/d3.v4.min.js"}
        %script(src="/static/js/barchart.js")
        :javascript
              BARCHART.init([{{ data }}]);
              BARCHART.graph();

-block content-piechart
    !!!
    %html
      %head
        %meta{:charset => "utf-8"}/
        :css
          .arc text {
            font: 10px sans-serif;
            text-anchor: middle;
          }

          .arc path {
            stroke: #fff;
          }
        %svg{:height => "500", :width => "480"}
        %script{:src => "https://d3js.org/d3.v4.min.js"}
        %script(src="/static/js/piechart.js")
        :javascript
          PIECHART.init([{{ name }}, {{ size }}]);
          PIECHART.graph();

-block content-linechart
    !!!
    %html
      %body
        %svg{:height => "500", :width => "480"}
        %script{:src => "https://d3js.org/d3.v4.min.js"}
        %script(src="/static/js/linechart.js")
        :javascript
          LINECHART.init([{{ name }}, {{ size }}]);
          LINECHART.graph();