-extends "base.haml"

-load bootstrap3
-load static

-block head
  %link{href: "{% static 'css/bartchart.css' %}", rel: "stylesheet"}
  %link{href: "{% static 'css/piechart.css' %}", rel: "stylesheet"}
  %link{href: "{% static 'css/sidebar.css' %}", rel: "stylesheet"}
  %script{:src => "https://d3js.org/d3.v4.min.js"}
  %script(src="/static/js/barchart.js")
  %script(src="/static/js/linechart.js")
  %script(src="/static/js/piechart.js")

-block javascript
  %script(src="/static/js/updateUI.js")

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"} Classe {{ lesson.name }}
    %li.active
      Statistiques

-block content
  %div{:id => "wrapper"}
    / Sidebar for customization
    %div{:id => "sidebar-wrapper"}
      %ul
        %li
          %font{:color => "white", :size => "4"} Statistique à afficher
          %form
            -for stat in stats
              .checkbox
                %label
                  %input{:type => "checkbox", :checked => "checked"}
                  %font{:color => "white"} {{stat}}
        %li
          %form{method: "POST", action: "{% url 'stats:exportCSV' lesson.pk %}"}
          -csrf_token
            %button.btn.btn-lg.btn-primary{type: "submit"}
              Données numériques
        %li
          %form{method: "POST", action: "{% url 'stats:exportCSV' lesson.pk %}"}
          -csrf_token
            %button.btn.btn-lg.btn-primary{type: "submit"}
              Exporter en CSV
        %li
          %font{:color => "white", :size => "4"} Période prédéfinie
          %select{:id => "select_timespan"}
            -for option, val in predefined_timespan.items
              -if val == None
                %option{:value => val, :selected => "selected"} {{option}}
              -else
                %option{:value => val} {{option}}
          %div{:id => "timespan"}
            %font{:color => "white"} Depuis :
            %input{:id => "startDate", :type => "text", :value => "jj/mm/aa"}/
            %font{:color => "white"} Jusque :
            %input{:id => "endDate", :type => "text", :value => "jj/mm/aa"}

            -csrf_token
              %button.btn.btn-primary{type: "submit"}
                Appliquer

    / Actual content of the page
    %div{:id => "page-content-wrapper"}
      .container-fluid

        .col-sm-2
          %a{:href => "#menu-toggle"}
            -csrf_token
            %button.btn.btn-secondary{id: "menu-toggle"} Paramètres
        .col-md-10
          -#%ul.nav.orange.nav-tabs
          -#  %li.active{role: "presentation"}
          -#    %a{href: "#class"}
          -#      {{ lesson.name }}
          -#  %li{role: "presentation"}
              -# %a{href: "{% url 'stats:view_student' lesson.pk %}"}
          -#    %a{href: "#students"}
          -#      Mes étudiants
          %ul.nav.nav-tabs
            %li.dropdown.active
              %a.dropdown-toggle{"data-toggle": "dropdown"}
                Mes étudiants
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{"data-toggle": "tab",href: "#student1"} student 1
                %li
                  %a{"data-toggle": "tab",href: "#student2"} student 2
              -#  -for student in students
              -#    %li
              -#      %a{"data-toggle": "tab", href: "#menu2"} {{ student }}



          .tab-content
            -# temporary until I get this sorted
            #student2.tab-pane.active
              .ligneorange

              .container-fluid.boxclassetitle

                .pull-left Statistique de la classe

              .ligneorangefine

              .container-fluid.boxclasse

                %p
                  Nombre d'étudiants
                  %b
                    {{ student_number }}

                %p
                  Nombre moyen de compétences acquises
                  %b
                    {{ avg_skill_acquired }}

                %p
                  Compétence la moins maitrisée
                  %b
                    {{ least_mastered_skill }}

                %p
                  Compétence la plus maitrisée
                  %b
                    {{ most_mastered_skill }}
            #student1.tab-pane.fade
              .ligneorange

              .container-fluid.boxclassetitle

                .pull-left Statistique de la classe

                  %p
                    Nombre d'étudiants
                    %b
                      {{ student_number }}

                  %p
                    Nombre moyen de compétences acquises
                    %b
                      {{ avg_skill_acquired }}

                  %p
                    Compétence la moins maitrisée
                    %b
                      {{ least_mastered_skill }}

                  %p
                    Compétence la plus maitrisée
                    %b
                      {{ most_mastered_skill }}

              .ligneorangefine

          .container-fluid.boxclasse
            %svg{:id => "bar", :height => "500", :width => "480"}
              :javascript
                BARCHART.init([{{ data }}]);
                BARCHART.graph();
            %svg{:id => "pie", :height => "500", :width => "480"}
              :javascript
                PIECHART.init([{{name}}, {{size}}]);
                PIECHART.graph();


