-extends "base.haml"

-load bootstrap3

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"} Classe {{ lesson.name }}
    %li.active
      Statistiques


-block content
  .row
    .col-md-4
      %br/
      %br/
      %font{:color => "white", :size => "4"}  Periode
      %form{method: "POST", action: "{% url 'professor:exportCSV' %}"}
        %select{:name => "---"}
          %option{:value => "1q2017-18"} 1q Année 2017/2018
          %option{:value => "2q2017-18"} 2q Année 2017/2018
          %option{:value => "1q2016-17"} 1q Année 2016/2017
          %option{:value => "2q2016-17"} 2q Année 2016/2017
        %font{:color => "white"} Start Date:
        %input{:name => "startDate", :type => "text", :value => "jj/mm/aa"}/
        %br/
        %font{:color => "white"} End Date:
        %input{:name => "endDate", :type => "text", :value => "jj/mm/aa"}/
        %br/
        %br/
       
        -csrf_token
        %button.btn.btn-lg.btn-primary{type: "submit"}
          Appliquer

      .container
      %br/
      %br/
      %font{:color => "white", :size => "4"} Paramètres
      %form
        .checkbox
          %label
            %input{:type => "checkbox", :value => ""}>/
            %font{:color => "white"} Niveau de connaissance
        .checkbox
          %label
            %input{:type => "checkbox", :value => ""}>/
            %font{:color => "white"} Progrès
        .checkbox
          %label
            %input{:type => "checkbox", :value => ""}>/
            %font{:color => "white"} Compétences acquises
        .checkbox
          %label
            %input{:type => "checkbox", :value => ""}>/
            %font{:color => "white"} Objectifs acuis
      %br/
      %br/
                                          -# make new method for this
      %form{method: "POST", action: "{% url 'professor:exportCSV' %}"}
        -csrf_token
        %button.btn.btn-lg.btn-primary{type: "submit"}
          Données numériques
      %br/
      %br/
      -# add exportCSV to promotions/views.py and promotions/url.py ?
      %form{method: "POST", action: "{% url 'professor:exportCSV' %}"}
        -csrf_token
        %button.btn.btn-lg.btn-primary{type: "submit"}
          Exporter en CSV

    .col-md-7
      %ul.nav.orange.nav-tabs
        %li.active{role: "presentation"}
          %a{href: "#"}
            Ma classe
        %li{role: "presentation"}
          %a{href: "{% url 'stats:view_student' lesson.pk %}"}
            Mes étudiants

      .ligneorange

      .container-fluid.boxclassetitle

        .pull-left Statistique de ma classe {{ lesson.name }}

      .ligneorangefine

      .container-fluid.boxclasse


        %p
          Nombre d'étudiants
          %b
            {{ student_number }}

        %p
          Nombre moyen de compétences acquises
          %b
            {{ avg_skill_acquired }}

        %p
          Compétence la moins maitrisée
          %b
            {{ least_mastered_skill }}

        %p
          Compétence la plus maitrisée
          %b
            {{ most_mastered_skill }}

