-extends "base.haml"
-load static
-load bootstrap3

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"} Classe {{ lesson.name }}
    %li.active
      Statistiques


-block content
  .row
    .col-md-4
      %br/
      %br/
      %font{:color => "white", :size => "4"}  Periode
      %form{method: "POST", action: "{% url 'professor:exportCSV' %}"}
        %select{:name => "---"}
          %option{:value => "1q2017-18"} 1q Année 2017/2018
          %option{:value => "2q2017-18"} 2q Année 2017/2018
          %option{:value => "1q2016-17"} 1q Année 2016/2017
          %option{:value => "2q2016-17"} 2q Année 2016/2017
        %font{:color => "white"} Start Date:
        %input{:name => "startDate", :type => "text", :value => "jj/mm/aa"}/
        %br/
        %font{:color => "white"} End Date:
        %input{:name => "endDate", :type => "text", :value => "jj/mm/aa"}/
        %br/
        %br/
       
        -csrf_token
        %button.btn.btn-lg.btn-primary{type: "submit"}
          Appliquer

      .container
      %br/
      %br/
      %font{:color => "white", :size => "4"} Paramètres
      %form
        .checkbox
          %label
            %input{:type => "checkbox", :value => ""}>/
            %font{:color => "white"} Niveau de connaissance
        .checkbox
          %label
            %input{:type => "checkbox", :value => ""}>/
            %font{:color => "white"} Progrès
        .checkbox
          %label
            %input{:type => "checkbox", :value => ""}>/
            %font{:color => "white"} Compétences acquises
        .checkbox
          %label
            %input{:type => "checkbox", :value => ""}>/
            %font{:color => "white"} Objectifs acuis
      %br/
      %br/
                                          -# make new method for this
      %form{method: "POST", action: "{% url 'professor:exportCSV' %}"}
        -csrf_token
        %button.btn.btn-lg.btn-primary{type: "submit"}
          Données numériques
      %br/
      %br/
      -# add exportCSV to promotions/views.py and promotions/url.py ?
      %form{method: "POST", action: "{% url 'stats:exportCSV' lesson.pk %}"}
        -csrf_token
        %button.btn.btn-lg.btn-primary{type: "submit"}
          Exporter en CSV

    .col-md-7
      -#%ul.nav.orange.nav-tabs
      -#  %li.active{role: "presentation"}
      -#    %a{href: "#class"}
      -#      {{ lesson.name }}
      -#  %li{role: "presentation"}
          -# %a{href: "{% url 'stats:view_student' lesson.pk %}"}
      -#    %a{href: "#students"}
      -#      Mes étudiants
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle": "tab", href: "#class"} {{ lesson.name }}
        %li.dropdown
          %a.dropdown-toggle{"data-toggle": "dropdown"}
            Mes étudiants
            %span.caret
          %ul.dropdown-menu
            %li
              %a{"data-toggle": "tab",href: "#student1"} student 1
            %li
              %a{"data-toggle": "tab",href: "#student2"} student 2
          -#  -for student in students
          -#    %li
          -#      %a{"data-toggle": "tab", href: "#menu2"} {{ student }}
            


      .tab-content
        #class.tab-pane.fade.in.active
          .ligneorange

          .container-fluid.boxclassetitle

            .pull-left Statistique de ma classe {{ lesson.name }}

          .ligneorangefine

          .container-fluid.boxclasse


            %p
              Nombre d'étudiants
              %b
                bisous

            %p
              Nombre moyen de compétences acquises
              %b
                LOL

            %p
              Compétence la moins maitrisée
              %b
                MDR

            %p
              Compétence la plus maitrisée
              %b
                HAHA

        -# temporary until I get this sorted 
        #student2.tab-pane.fade
          .ligneorange

          .container-fluid.boxclassetitle

            .pull-left Statistique de student2

          .ligneorangefine

          .container-fluid.boxclasse

            %p
              Nombre de tests réussi

            %p
              Dernier test réussi

            %p
              Nombre d'authentification sur le site

            %p
              Dernière compétence acquise

            %p
              Temps passé entre deux compétences
        #student1.tab-pane.fade
          .ligneorange

          .container-fluid.boxclassetitle

            .pull-left Statistique de student1

          .ligneorangefine

          .container-fluid.boxclasse

            %p
              Nombre de tests réussi

            %p
              Dernier test réussi

            %p
              Nombre d'authentification sur le site

            %p
              Dernière compétence acquise

            %p
              Temps passé entre deux compétences



      